@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,300&display=swap');
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {   
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    overflow-y: auto;
  }
  
.header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 250px;
    font-size: 13px;
    background-color: #ffd000;
    color: #1b48c6;
}

h1{
    margin: 0;
}

ul{
    display: flex;
    list-style: square;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 10px;
    font-size: 14px;
}

li{
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.section-1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 250px;
    padding-right: 250px;
    justify-content:space-around;
    color: #2a2829;
    font-size: 16px;
}

.section-2{
    display: flex;
    flex-direction: row;
    padding-left: 250px;
    padding-right: 250px;
    justify-content:space-around;
    color: #2a2829;
    font-size: 16px;
}

.round-message{
    padding: 5px 0px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#9f9f9f;
    color: #1b48c6;
    font-size: 13px;
    text-align: center;
    padding: 15px 0px;
}

#button-player-rock,
#button-player-paper,
#button-player-scissors,
#button-computer-rock,
#button-computer-paper,
#button-computer-scissors{
    background-size: cover;
    height: 100px;
    width: 60px;
    border-width: 0;
    border-style: none;
    font-size: 0;
    color: white;
    text-align: center;
    align-self: center;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.7s;
}

#button-player-rock,
#button-player-paper,
#button-player-scissors{
    background-color: #ff6230;
    cursor: pointer;
}

#button-player-rock:hover,
#button-player-paper:hover,
#button-player-scissors:hover
{
    opacity: 1;
}

#button-computer-rock,
#button-computer-paper,
#button-computer-scissors{
    background-color: #9f9f9f;
}

#button-player-rock,
#button-computer-rock{
    background-image: url(./images/rock.png);
}

#button-player-paper,
#button-computer-paper{
    background-image: url(./images/paper.png);
}

#button-player-scissors,
#button-computer-scissors{
    background-image: url(./images/scissors.png);
}

#round-image {
    background-image: url('./images/good-luck-message.png');
    background-color: #ff6230;
    background-size: cover;
    border-width: 0;
    border-style: none;
    margin: 5px;
    height: 100px;
    width: 400px;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 6px;
    align-items: center;
    vertical-align: middle;
}

#game {
    display: flex;
    flex-direction: column;
    margin: 30px 50px;
    width: 450px;
}

.player-name {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.final-result {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    color: #ff6230;
    font-size: 20px;
}

#player-score,
#computer-score {
    text-align: center;
    border-style: solid;
    border-width: 2px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    background-color:#2a2829;
    border-radius: 6px;
    margin: 0 80px;
    padding: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.player-buttons,
.computer-buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}

#player1-image,
#player2-image {
    border-style:dashed;
    border-width: 5px;
    border-radius: 200px;
    width: 250px;
    height: 250px;
    align-self: center;  
    margin: 20px 0 5px 0;  
}

#player1-image{
    color: #ff6230;
    background-image: url('./images/user.png');
    background-size: 240px;
}

#player2-image{
    color:#9f9f9f;
    background-image: url('./images/computer.png');
    background-size: 240px;
}

.play-again {
    background-color:#ff6230;
    margin: 15px;
    padding: 10px 20px;
    border-width: 0;
    border-style: none;
    font-size: 14px;
    color: white;
    text-align: center;
    align-self: center;
    border-radius: 6px;
    cursor: pointer;
}

span {
    position: absolute;
    pointer-events: none;
    background: #fff;
    animation: animate 5s linear infinite;
}

#initial-message {
    text-align: center;
}

table{
    border-collapse: collapse;
    border: 1px solid #9f9f9f;
}

th,td {
    padding: 3px;
    font-size: 14px;
}

thead {
    background-color: #9f9f9f;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}