@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,300&display=swap');
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}


body {   
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 250px;
    font-size: 13px;
    background-color: #1f2937;
}