@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,300&display=swap');
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {   
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    overflow-y: auto;
  }
  
.header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 250px;
    font-size: 13px;
    background-color: #ffd000;
    color: #1b48c6;
}

h1{
    margin: 0;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #1b48c6;
    padding: 5px 15px;
    border-radius: 6px;
}

a:hover{
    background: #21cfcb;
    color: #1b48c6;
}

.container{
    display: flex;
    padding: 35px 250px 35px 250px;
    align-items:center;
    width: 100%;
    justify-content:space-evenly;
    color: #2a2829;
    font-size: 16px;
}


#round-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

#round-message{
    text-align: center;
    margin: 10px 0;
}

.result{
    font-size: 20px;
    color:white;
    background-color: #ff49da;
    font-weight: bold;
    text-align: center;
    padding: 6px 15px;
    margin: 15px 0px;
    border-width: 0px;
    border-radius: 6px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#9f9f9f;
    color: #1b48c6;
    font-size: 13px;
    text-align: center;
    padding: 15px 0px;
}

#button-rock,
#button-paper,
#button-scissors{
    background-color: #ff6230;
    background-size: cover;
    margin: 5px;
    height: 100px;
    width: 60px;
    border-width: 0;
    border-style: none;
    font-size: 0;
    color: white;
    text-align: center;
    align-self: center;
    font-weight: bold;
    border-radius: 6px;
    opacity: 70%;
    transition: 0.7s;
}

#button-rock:hover,
#button-paper:hover,
#button-scissors:hover{
    opacity: 1;
    height: 105px;
    width: 65px;
    margin: 0px;
}

#button-rock{
    background-image: url(./images/rock.png);
}

#button-paper{
    background-image: url(./images/paper.png);
}

#button-scissors{
    background-image: url(./images/scissors.png);
}

#round-image {
    background-image: url('./images/good-luck-message.png');
    background-color: #ff6230;
    background-size: cover;
    border-width: 0;
    border-style: none;
    margin: 5px;
    height: 100px;
    width: 400px;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 6px;
    align-items: center;
    vertical-align: middle;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    max-height: 400px;
    height: 350px;
    margin-bottom: 100px;
}

.player-name {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#player-score,
#computer-score {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    margin: 5px 100px 0 100px;
    color: white;
    border-radius: 6px;
    font-size: 35px;
    font-weight: bold;
}

#player-score {
    background-color:#ff6230;
    border-color: #e4572d;
}

#computer-score {
    background-color:#9f9f9f;
    border-color:#888888;
}

.player-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
}

#player1-image,
#player2-image {
    border-style:dashed;
    border-width: 5px;
    border-radius: 200px;
    width: 300px;
    height: 300px;
    align-self: center;  
    margin: 20px 0 5px 0;  
}

#player1-image{
    color: #ff6230;
    background-image: url('./images/user.png');
    background-size: 290px;
}

#player2-image{
    color:#9f9f9f;
    background-image: url('./images/computer.png');
    background-size: 290px;
}

span {
    position: absolute;
    pointer-events: none;
    background: #fff;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%
    {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10%
    {
        opacity: 1;
    }
    90%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1) translateY(-500%) rotate(360deg);
        opacity: 0;
    }
}